<div>
  <form [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
    <div>
      <label class="block uppercase font-bold text-sm text-dark-blue mx-4 mb-2"
        >Title:
      </label>
      <input
        type="text"
        class="form-input form-element"
        formControlName="title"
      />
    </div>
    <div>
      <label class="block uppercase font-bold text-sm text-dark-blue mx-4 mb-2"
        >Description:
      </label>
      <input
        type="text"
        class="form-input form-element"
        type="text"
        formControlName="description"
      />
    </div>
    <div>
      <label class="block uppercase font-bold text-sm text-dark-blue mx-4 mb-2"
        >status:
      </label>
      <input
        class="form-input form-element"
        type="text"
        formControlName="status"
      />
    </div>
    <button
      class=" bg-medium-blue text-white font-bold px-4 py-3"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>
<h3 class="text-rosy-brown text-6xl	">Tasks</h3>
<div>
  <span *ngIf="loading">Loading...</span>
  <div *ngFor="let task of tasks">
    {{ task.title }}
  </div>
</div>
